.venv/
.venv_build/
.venv_gestos/
.vscode/
.vs/
__pycache__/
*.pyc
*.pyo
*.log
API_KEYS.ENV
.env
token.json
*.zip
build/
dist/
release/
jarvis_memoria*.json
jarvis_historial.json
memoria_*.json
jarvis_config.json
jarvis_notas.db
jarvis_vectormem/
Funciones completas de JARVIS.txt
Get-ChildItem .\dist